/*
Creator: Robert Edwardes
Website: digitalroots.io
Project Name: RINO
license: MIT
 */
 /*******


 reset

 *****/
@import "compass/reset";
/*******


Base/Varibles

*****/
//var and base for display
.base{
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
}
section{
  height: 100vh;
  width: 100vw;
}
/*******


Elements

*****/
@import "../sass/00-elements/color.scss";
// compile must have colors before site brand settings
$brand-color: $listlyblue;
$second-brand: $listlyorange;
@import "../sass/00-elements/images.scss";
@import "../sass/00-elements/typeography.scss";
/*******


Compenates

*****/
@import "../sass/01-compenates/buttons.scss";
@import "../sass/01-compenates/filters.scss";
/*******


templates


*****/

/*******


alternative sheets

*****/
@import "../sass/print.scss";
