/*
Creator: Robert Edwardes
Website: digitalroots.io
Project Name: RINO
license: MIT
 */
 /*******


 reset

 *****/
@import "compass/reset";
/*******


Base/Varibles

*****/
/*******


Elements

*****/
@import "../sass/00-elements/color.scss";
// compile must have colors before site brand settings
$brand-color: $facebook;
$second-brand: $twitter;
$red: $pinterest;
$green: $vine;
$blue: $linkedin;
$grey: $deviantart;
@import "../sass/00-elements/images.scss";
@import "../sass/00-elements/typeography.scss";
@import "../sass/00-elements/buttons.scss";
@import "../sass/00-elements/filters.scss";
/*******


Compenates

*****/

/*******


templates


*****/

/*******


alternative sheets

*****/
@import "../sass/print.scss";
@import "../sass/03-display-theme/main.scss";
