//main style sheet for pattern library web example
.side-scroll{
  overflow-x: scroll;
}
.base{
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100vw;
  height: 100%;
}
*{
  box-sizing: border-box;
}
section{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  &:nth-child(odd){
    background-color: $reddit;
  }
  &:nth-child(even){
    background-color: $spotifygreen;
  }
}
