//main style sheet for pattern library web example
.side-scroll{
  overflow-x: scroll;
}
.base{
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100vw;
  height: 100%;
}
*{
  box-sizing: border-box;
}
section{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 7.5px;
  &:nth-child(odd){
    background-color: lightgrey;
  }
  &:nth-child(even){
    background-color: grey;
  }
}
//base
[aria-labelledby="typeography"]{
  button{
    border: none;
    border-radius: 0;
    font-size: 1rem;
    padding: .2rem;
    margin: .3rem;
    @media screen and (min-width: 700px){
      font-size: 1.2rem;
      padding: .25rem;
      margin: .25rem;
    }
    @media screen and (min-width: 900px){
      font-size: 1.75rem;
      padding: .25rem;
      margin: .3rem;
    }
  }
  .inverse{
    color: white;
    background-color: black;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    padding: .2rem;
    margin: .3rem;
    @media screen and (min-width: 700px){
      font-size: 1.2rem;
      padding: .25rem;
      margin: .25rem;
    }
    @media screen and (min-width: 900px){
      font-size: 1.75rem;
      padding: .25rem;
      margin: .3rem;
    }
  }
}

[aria-labelledby="color pallet"]{
  #colors{
    height: 50vh;
    width: 50vw;
    display: block;
  }
  #color-pallet{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

  }
  select#color-selector{
    width: 50vw;
    font-size: 1.2rem;
  }
}

[aria-labelledby="Buttons"]{
  & main{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vw;
    & div#button-display{
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      width: 100vw;
      height: 100%;
      &.grey{
        background: grey;
      }
      &.lightgrey{
        background-color: lightgrey;
      }
      &.white{
        background-color: white;
      }
      &.black{
        background-color: black;
      }
      &.hex3b{
        background-color: #3b3b3b;
      }
      & .col{
        height: 70vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
      }
    }
    & header{
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 15vh;
      width: 100vw;
    }
    & nav{
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      width: 100vw;
      height: 15vh;
    }
  }
}
