/*
Creator: Robert Edwardes
Website: digitalroots.io
Project Name: RINO
license: MIT
 */
 /*******


 reset

 *****/
/* line 5, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*******


Base/Varibles

*****/
/*******


Elements

*****/
/* line 1, ../sass/00-elements/images.scss */
img {
  width: 100%;
  height: auto;
}
/* line 5, ../sass/00-elements/images.scss */
img.profile-round {
  border-radius: 100%;
}
/* line 9, ../sass/00-elements/images.scss */
img.hero {
  border-bottom: #00b6f1 solid 1px;
  box-shadow: inset 0px 1px 2px #3b5998;
}

/* base type */
/* line 2, ../sass/00-elements/typeography.scss */
html {
  /* Change default typefaces here */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

/* web fonts */
/* otf fonts */
@font-face {
  font-family: leafy;
  src: url("fonts/leafy.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.leafy {
  font-family: leafy;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: Brela;
  src: url("fonts/brelaregular.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.Brela {
  font-family: Brela;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: BRUX;
  src: url("fonts/BFTinyHand-Regular.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.BRUX {
  font-family: BRUX;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: Hamurz;
  src: url("fonts/Hamurz Free Version.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.Hamurz {
  font-family: Hamurz;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: kust;
  src: url("fonts/kust.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.kust {
  font-family: kust;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: tinny-hands;
  src: url("fonts/BFTinyHand-Regular.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.tinny-hands {
  font-family: tinny-hands;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

/* tff fonts */
@font-face {
  font-family: ubuntu;
  src: url("font/.ttf");
}
/* line 27, ../sass/00-elements/typeography.scss */
.ubuntu {
  font-family: ubuntu;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: Ubuntu-C;
  src: url("font/.ttf");
}
/* line 27, ../sass/00-elements/typeography.scss */
.Ubuntu-C {
  font-family: Ubuntu-C;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
/* line 34, ../sass/00-elements/typeography.scss */
p {
  line-height: calc(1.5rem + 0.45vw);
  margin-top: 1.02rem;
  margin-bottom: 0.35rem;
}

/* line 39, ../sass/00-elements/typeography.scss */
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 44, ../sass/00-elements/typeography.scss */
ul li,
ol li {
  line-height: 1.5;
}

/* line 48, ../sass/00-elements/typeography.scss */
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 55, ../sass/00-elements/typeography.scss */
blockquote {
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
/* line 61, ../sass/00-elements/typeography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  margin-top: calc(.35 + .3vh);
  margin-bottom: .2rem;
  line-height: calc(1 + .25vw);
  text-shadow: 1px 1px 3px #3b5998, 1px 1px 2px #00b6f1;
}

/* line 73, ../sass/00-elements/typeography.scss */
h1 {
  font-size: 2.642rem;
  line-height: 2.15;
  margin-top: 2.85rem;
}

/* line 78, ../sass/00-elements/typeography.scss */
h2 {
  font-size: 2.328rem;
  line-height: 2.05;
}

/* line 82, ../sass/00-elements/typeography.scss */
h3 {
  font-size: calc(2.114rem + .1vw);
  line-height: 1.5;
}

/* line 86, ../sass/00-elements/typeography.scss */
h4 {
  font-size: calc(1.407rem + .5vw);
}

/* line 89, ../sass/00-elements/typeography.scss */
h5 {
  font-size: calc(1.013333333333333rem + .5vw);
}

/* line 92, ../sass/00-elements/typeography.scss */
h6 {
  font-size: calc(0.5535rem + .85vw);
}

/* Tables */
/* line 96, ../sass/00-elements/typeography.scss */
table {
  border-spacing: 0;
  width: 100%;
}

/* line 100, ../sass/00-elements/typeography.scss */
td,
th {
  border-bottom: 0.1rem solid #3b5998;
  padding: 1.2rem 1.5rem;
  text-align: center;
}
/* line 106, ../sass/00-elements/typeography.scss */
td:first-child,
th:first-child {
  padding-left: 0;
}
/* line 109, ../sass/00-elements/typeography.scss */
td:last-child,
th:last-child {
  padding-right: 0;
}

/* Code blocks */
/* line 115, ../sass/00-elements/typeography.scss */
code {
  vertical-align: bottom;
  background-color: rgba(100, 100, 100, 0.3);
}

/*******


Compenates

*****/
/* line 1, ../sass/01-compenates/buttons.scss */
button, button.inverse, [class$="-button"].inverse, [class$="-button"] {
  border: none;
  border-radius: 0;
  font-size: 1rem;
  padding: .2rem;
  margin: .3rem;
}
@media screen and (min-width: 700px) {
  /* line 1, ../sass/01-compenates/buttons.scss */
  button, button.inverse, [class$="-button"].inverse, [class$="-button"] {
    font-size: 1.2rem;
    padding: .25rem;
    margin: .25rem;
  }
}
@media screen and (min-width: 900px) {
  /* line 1, ../sass/01-compenates/buttons.scss */
  button, button.inverse, [class$="-button"].inverse, [class$="-button"] {
    font-size: 1.75rem;
    padding: .25rem;
    margin: .3rem;
  }
}
/* line 17, ../sass/01-compenates/buttons.scss */
button.inverse, .inverse[class$="-button"], [class$="-button"].inverse {
  color: white;
  background-color: black;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.facebook, .facebook-button {
  background-color: #3b5998;
  color: #3b5998;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.facebook-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.twitter, .twitter-button {
  background-color: #00b6f1;
  color: #00b6f1;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.twitter-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.youtube, .youtube-button {
  background-color: #ff0000;
  color: #ff0000;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.youtube-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.instagrammagenta, .instagrammagenta-button {
  background-color: #c32aa3;
  color: #c32aa3;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.instagrammagenta-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.instagramblue, .instagramblue-button {
  background-color: #4c5fd7;
  color: #4c5fd7;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.instagramblue-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.instagrampurple, .instagrampurple-button {
  background-color: #7232bd;
  color: #7232bd;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.instagrampurple-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.instagramorange, .instagramorange-button {
  background-color: #f46f30;
  color: #f46f30;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.instagramorange-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.instagramyellow, .instagramyellow-button {
  background-color: #ffdc7d;
  color: #ffdc7d;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.instagramyellow-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.pinterest, .pinterest-button {
  background-color: #cb2027;
  color: #cb2027;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.pinterest-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.googleplus, .googleplus-button {
  background-color: #df4a32;
  color: #df4a32;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.googleplus-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.linkedin, .linkedin-button {
  background-color: #007bb6;
  color: #007bb6;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.linkedin-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.vimeoblue, .vimeoblue-button {
  background-color: #45bbff;
  color: #45bbff;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.vimeoblue-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.vimeogreen, .vimeogreen-button {
  background-color: #aad450;
  color: #aad450;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.vimeogreen-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.vimeoorange, .vimeoorange-button {
  background-color: #f7b42c;
  color: #f7b42c;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.vimeoorange-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.vimeopink, .vimeopink-button {
  background-color: #f27490;
  color: #f27490;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.vimeopink-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.tumblr, .tumblr-button {
  background-color: #2c4762;
  color: #2c4762;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.tumblr-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.snapchat, .snapchat-button {
  background-color: #fffc00;
  color: #fffc00;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.snapchat-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.whatsappgreen, .whatsappgreen-button {
  background-color: #25d366;
  color: #25d366;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.whatsappgreen-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.whatsappteal1, .whatsappteal1-button {
  background-color: #075e54;
  color: #075e54;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.whatsappteal1-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.whatsappteal2, .whatsappteal2-button {
  background-color: #128c7e;
  color: #128c7e;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.whatsappteal2-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.foursquarepink, .foursquarepink-button {
  background-color: #fc4575;
  color: #fc4575;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.foursquarepink-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.foursquareblue, .foursquareblue-button {
  background-color: #2d5be3;
  color: #2d5be3;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.foursquareblue-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.swarm, .swarm-button {
  background-color: #ffb000;
  color: #ffb000;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.swarm-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.skypeblue, .skypeblue-button {
  background-color: #00aff0;
  color: #00aff0;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.skypeblue-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.skypegreen, .skypegreen-button {
  background-color: #7fba00;
  color: #7fba00;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.skypegreen-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.stumbleupon, .stumbleupon-button {
  background-color: #eb4924;
  color: #eb4924;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.stumbleupon-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.flickrpink, .flickrpink-button {
  background-color: #f40083;
  color: #f40083;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.flickrpink-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.flickrblue, .flickrblue-button {
  background-color: #006add;
  color: #006add;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.flickrblue-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.yahoo, .yahoo-button {
  background-color: #430297;
  color: #430297;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.yahoo-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.soundcloud, .soundcloud-button {
  background-color: #ff5500;
  color: #ff5500;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.soundcloud-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.spotifygreen, .spotifygreen-button {
  background-color: #1ed760;
  color: #1ed760;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.spotifygreen-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.spotifydarkgreen, .spotifydarkgreen-button {
  background-color: #1db954;
  color: #1db954;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.spotifydarkgreen-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.dribbble, .dribbble-button {
  background-color: #ea4c89;
  color: #ea4c89;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.dribbble-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.reddit, .reddit-button {
  background-color: #ff5700;
  color: #ff5700;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.reddit-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.deviantart, .deviantart-button {
  background-color: #4a5d4e;
  color: #4a5d4e;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.deviantart-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.pocket, .pocket-button {
  background-color: #ee4056;
  color: #ee4056;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.pocket-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.quora, .quora-button {
  background-color: #aa2200;
  color: #aa2200;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.quora-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.quorablue, .quorablue-button {
  background-color: #2b6dad;
  color: #2b6dad;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.quorablue-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.slideshareorange, .slideshareorange-button {
  background-color: #f7941e;
  color: #f7941e;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.slideshareorange-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.slideshareorange, .slideshareorange-button {
  background-color: #1191d0;
  color: #1191d0;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.slideshareorange-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.fivehundredpx, .fivehundredpx-button {
  background-color: #0099e5;
  color: #0099e5;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.fivehundredpx-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.listlyorange, .listlyorange-button {
  background-color: #df6d46;
  color: #df6d46;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.listlyorange-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.listlyblue, .listlyblue-button {
  background-color: #52b1b3;
  color: #52b1b3;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.listlyblue-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 24, ../sass/01-compenates/buttons.scss */
.vine, .vine-button {
  background-color: #00b489;
  color: #00b489;
}
/* line 27, ../sass/01-compenates/buttons.scss */
.vine-button {
  color: white;
  text-shadow: black .5px .5px;
}

/* line 3, ../sass/01-compenates/filters.scss */
.filter-gray-50 {
  filter: grayscale(0.5);
}
/* line 6, ../sass/01-compenates/filters.scss */
.filter-gray-100 {
  filter: grayscale(1);
}
/* line 11, ../sass/01-compenates/filters.scss */
.filter-sepia-50 {
  filter: sepia(0.5);
}
/* line 14, ../sass/01-compenates/filters.scss */
.filter-sepia-100 {
  filter: sepia(1);
}
/* line 19, ../sass/01-compenates/filters.scss */
.filter-text-Text-Stroke {
  filter: url(filters.svg#Text-Stroke);
}
/* line 22, ../sass/01-compenates/filters.scss */
.filter-text-Torn-Look {
  filter: url(filters.svg#Torn-Look);
}
/* line 25, ../sass/01-compenates/filters.scss */
.filter-text-Color-Fill {
  filter: url(filters.svg#Color-Fill);
}
/* line 28, ../sass/01-compenates/filters.scss */
.filter-text-Offsetting {
  filter: url(filters.svg#Offsetting);
}
/* line 31, ../sass/01-compenates/filters.scss */
.filter-text-Extrusion {
  filter: url(filters.svg#Extrusion);
}

/*******


templates


*****/
/*******


alternative sheets

*****/
/* Print Style */
@media print {
  /* line 3, ../sass/print.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 12, ../sass/print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 17, ../sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 21, ../sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 25, ../sass/print.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 30, ../sass/print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 36, ../sass/print.scss */
  thead {
    display: table-header-group;
  }

  /* line 40, ../sass/print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 45, ../sass/print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 49, ../sass/print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 56, ../sass/print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 2, ../sass/03-display-theme/main.scss */
.side-scroll {
  overflow-x: scroll;
}

/* line 5, ../sass/03-display-theme/main.scss */
.base {
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

/* line 13, ../sass/03-display-theme/main.scss */
* {
  box-sizing: border-box;
}

/* line 16, ../sass/03-display-theme/main.scss */
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
/* line 23, ../sass/03-display-theme/main.scss */
section:nth-child(odd) {
  background-color: #ff5700;
}
/* line 26, ../sass/03-display-theme/main.scss */
section:nth-child(even) {
  background-color: #1ed760;
}
