/*
Creator: Robert Edwardes
Website: digitalroots.io
Project Name: RINO
license: MIT
 */
 /*******


 reset

 *****/
/* line 5, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.4.1@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*******


Base/Varibles

*****/
/*******


Elements

*****/
/* line 94, ../sass/00-elements/color.scss */
.facebook {
  color: #3b5998;
}

/* line 94, ../sass/00-elements/color.scss */
.twitter {
  color: #00b6f1;
}

/* line 94, ../sass/00-elements/color.scss */
.youtube {
  color: #ff0000;
}

/* line 94, ../sass/00-elements/color.scss */
.instagrammagenta {
  color: #c32aa3;
}

/* line 94, ../sass/00-elements/color.scss */
.instagramblue {
  color: #4c5fd7;
}

/* line 94, ../sass/00-elements/color.scss */
.instagrampurple {
  color: #7232bd;
}

/* line 94, ../sass/00-elements/color.scss */
.instagramorange {
  color: #f46f30;
}

/* line 94, ../sass/00-elements/color.scss */
.instagramyellow {
  color: #ffdc7d;
}

/* line 94, ../sass/00-elements/color.scss */
.pinterest {
  color: #cb2027;
}

/* line 94, ../sass/00-elements/color.scss */
.googleplus {
  color: #df4a32;
}

/* line 94, ../sass/00-elements/color.scss */
.linkedin {
  color: #007bb6;
}

/* line 94, ../sass/00-elements/color.scss */
.vimeoblue {
  color: #45bbff;
}

/* line 94, ../sass/00-elements/color.scss */
.vimeogreen {
  color: #aad450;
}

/* line 94, ../sass/00-elements/color.scss */
.vimeoorange {
  color: #f7b42c;
}

/* line 94, ../sass/00-elements/color.scss */
.vimeopink {
  color: #f27490;
}

/* line 94, ../sass/00-elements/color.scss */
.tumblr {
  color: #2c4762;
}

/* line 94, ../sass/00-elements/color.scss */
.snapchat {
  color: #fffc00;
}

/* line 94, ../sass/00-elements/color.scss */
.whatsappgreen {
  color: #25d366;
}

/* line 94, ../sass/00-elements/color.scss */
.whatsappteal1 {
  color: #075e54;
}

/* line 94, ../sass/00-elements/color.scss */
.whatsappteal2 {
  color: #128c7e;
}

/* line 94, ../sass/00-elements/color.scss */
.foursquarepink {
  color: #fc4575;
}

/* line 94, ../sass/00-elements/color.scss */
.foursquareblue {
  color: #2d5be3;
}

/* line 94, ../sass/00-elements/color.scss */
.swarm {
  color: #ffb000;
}

/* line 94, ../sass/00-elements/color.scss */
.skypeblue {
  color: #00aff0;
}

/* line 94, ../sass/00-elements/color.scss */
.skypegreen {
  color: #7fba00;
}

/* line 94, ../sass/00-elements/color.scss */
.stumbleupon {
  color: #eb4924;
}

/* line 94, ../sass/00-elements/color.scss */
.flickrpink {
  color: #f40083;
}

/* line 94, ../sass/00-elements/color.scss */
.flickrblue {
  color: #006add;
}

/* line 94, ../sass/00-elements/color.scss */
.yahoo {
  color: #430297;
}

/* line 94, ../sass/00-elements/color.scss */
.soundcloud {
  color: #ff5500;
}

/* line 94, ../sass/00-elements/color.scss */
.spotifygreen {
  color: #1ed760;
}

/* line 94, ../sass/00-elements/color.scss */
.spotifydarkgreen {
  color: #1db954;
}

/* line 94, ../sass/00-elements/color.scss */
.dribbble {
  color: #ea4c89;
}

/* line 94, ../sass/00-elements/color.scss */
.reddit {
  color: #ff5700;
}

/* line 94, ../sass/00-elements/color.scss */
.deviantart {
  color: #4a5d4e;
}

/* line 94, ../sass/00-elements/color.scss */
.pocket {
  color: #ee4056;
}

/* line 94, ../sass/00-elements/color.scss */
.quora {
  color: #aa2200;
}

/* line 94, ../sass/00-elements/color.scss */
.quorablue {
  color: #2b6dad;
}

/* line 94, ../sass/00-elements/color.scss */
.slideshareorange {
  color: #f7941e;
}

/* line 94, ../sass/00-elements/color.scss */
.slideshareblue {
  color: #1191d0;
}

/* line 94, ../sass/00-elements/color.scss */
.fivehundredpx {
  color: #0099e5;
}

/* line 94, ../sass/00-elements/color.scss */
.listlyorange {
  color: #df6d46;
}

/* line 94, ../sass/00-elements/color.scss */
.listlyblue {
  color: #52b1b3;
}

/* line 94, ../sass/00-elements/color.scss */
.vine {
  color: #00b489;
}

/* line 99, ../sass/00-elements/color.scss */
.facebook-bg {
  background-color: #3b5998;
}

/* line 99, ../sass/00-elements/color.scss */
.twitter-bg {
  background-color: #00b6f1;
}

/* line 99, ../sass/00-elements/color.scss */
.youtube-bg {
  background-color: #ff0000;
}

/* line 99, ../sass/00-elements/color.scss */
.instagrammagenta-bg {
  background-color: #c32aa3;
}

/* line 99, ../sass/00-elements/color.scss */
.instagramblue-bg {
  background-color: #4c5fd7;
}

/* line 99, ../sass/00-elements/color.scss */
.instagrampurple-bg {
  background-color: #7232bd;
}

/* line 99, ../sass/00-elements/color.scss */
.instagramorange-bg {
  background-color: #f46f30;
}

/* line 99, ../sass/00-elements/color.scss */
.instagramyellow-bg {
  background-color: #ffdc7d;
}

/* line 99, ../sass/00-elements/color.scss */
.pinterest-bg {
  background-color: #cb2027;
}

/* line 99, ../sass/00-elements/color.scss */
.googleplus-bg {
  background-color: #df4a32;
}

/* line 99, ../sass/00-elements/color.scss */
.linkedin-bg {
  background-color: #007bb6;
}

/* line 99, ../sass/00-elements/color.scss */
.vimeoblue-bg {
  background-color: #45bbff;
}

/* line 99, ../sass/00-elements/color.scss */
.vimeogreen-bg {
  background-color: #aad450;
}

/* line 99, ../sass/00-elements/color.scss */
.vimeoorange-bg {
  background-color: #f7b42c;
}

/* line 99, ../sass/00-elements/color.scss */
.vimeopink-bg {
  background-color: #f27490;
}

/* line 99, ../sass/00-elements/color.scss */
.tumblr-bg {
  background-color: #2c4762;
}

/* line 99, ../sass/00-elements/color.scss */
.snapchat-bg {
  background-color: #fffc00;
}

/* line 99, ../sass/00-elements/color.scss */
.whatsappgreen-bg {
  background-color: #25d366;
}

/* line 99, ../sass/00-elements/color.scss */
.whatsappteal1-bg {
  background-color: #075e54;
}

/* line 99, ../sass/00-elements/color.scss */
.whatsappteal2-bg {
  background-color: #128c7e;
}

/* line 99, ../sass/00-elements/color.scss */
.foursquarepink-bg {
  background-color: #fc4575;
}

/* line 99, ../sass/00-elements/color.scss */
.foursquareblue-bg {
  background-color: #2d5be3;
}

/* line 99, ../sass/00-elements/color.scss */
.swarm-bg {
  background-color: #ffb000;
}

/* line 99, ../sass/00-elements/color.scss */
.skypeblue-bg {
  background-color: #00aff0;
}

/* line 99, ../sass/00-elements/color.scss */
.skypegreen-bg {
  background-color: #7fba00;
}

/* line 99, ../sass/00-elements/color.scss */
.stumbleupon-bg {
  background-color: #eb4924;
}

/* line 99, ../sass/00-elements/color.scss */
.flickrpink-bg {
  background-color: #f40083;
}

/* line 99, ../sass/00-elements/color.scss */
.flickrblue-bg {
  background-color: #006add;
}

/* line 99, ../sass/00-elements/color.scss */
.yahoo-bg {
  background-color: #430297;
}

/* line 99, ../sass/00-elements/color.scss */
.soundcloud-bg {
  background-color: #ff5500;
}

/* line 99, ../sass/00-elements/color.scss */
.spotifygreen-bg {
  background-color: #1ed760;
}

/* line 99, ../sass/00-elements/color.scss */
.spotifydarkgreen-bg {
  background-color: #1db954;
}

/* line 99, ../sass/00-elements/color.scss */
.dribbble-bg {
  background-color: #ea4c89;
}

/* line 99, ../sass/00-elements/color.scss */
.reddit-bg {
  background-color: #ff5700;
}

/* line 99, ../sass/00-elements/color.scss */
.deviantart-bg {
  background-color: #4a5d4e;
}

/* line 99, ../sass/00-elements/color.scss */
.pocket-bg {
  background-color: #ee4056;
}

/* line 99, ../sass/00-elements/color.scss */
.quora-bg {
  background-color: #aa2200;
}

/* line 99, ../sass/00-elements/color.scss */
.quorablue-bg {
  background-color: #2b6dad;
}

/* line 99, ../sass/00-elements/color.scss */
.slideshareorange-bg {
  background-color: #f7941e;
}

/* line 99, ../sass/00-elements/color.scss */
.slideshareblue-bg {
  background-color: #1191d0;
}

/* line 99, ../sass/00-elements/color.scss */
.fivehundredpx-bg {
  background-color: #0099e5;
}

/* line 99, ../sass/00-elements/color.scss */
.listlyorange-bg {
  background-color: #df6d46;
}

/* line 99, ../sass/00-elements/color.scss */
.listlyblue-bg {
  background-color: #52b1b3;
}

/* line 99, ../sass/00-elements/color.scss */
.vine-bg {
  background-color: #00b489;
}

/* line 1, ../sass/00-elements/images.scss */
img {
  width: 100%;
  height: auto;
}
/* line 5, ../sass/00-elements/images.scss */
img.profile-round {
  border-radius: 100%;
}
/* line 9, ../sass/00-elements/images.scss */
img.hero {
  border-bottom: #00b6f1 solid 1px;
  box-shadow: inset 0px 1px 2px #3b5998;
}

/* base type */
/* line 2, ../sass/00-elements/typeography.scss */
html {
  /* Change default typefaces here */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

/* web fonts */
/* otf fonts */
@font-face {
  font-family: leafy;
  src: url("fonts/leafy.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.leafy {
  font-family: leafy;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: Brela;
  src: url("fonts/brelaregular.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.Brela {
  font-family: Brela;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: BRUX;
  src: url("fonts/BFTinyHand-Regular.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.BRUX {
  font-family: BRUX;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: Hamurz;
  src: url("fonts/Hamurz Free Version.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.Hamurz {
  font-family: Hamurz;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: kust;
  src: url("fonts/kust.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.kust {
  font-family: kust;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: tinny-hands;
  src: url("fonts/BFTinyHand-Regular.otf");
}
/* line 15, ../sass/00-elements/typeography.scss */
.tinny-hands {
  font-family: tinny-hands;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

/* tff fonts */
@font-face {
  font-family: ubuntu;
  src: url("font/UbuntuC.ttf");
}
/* line 26, ../sass/00-elements/typeography.scss */
.ubuntu {
  font-family: ubuntu;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}

/* Copy & Lists */
/* line 32, ../sass/00-elements/typeography.scss */
p {
  line-height: calc(1.5rem + 0.45vw);
  margin-top: 1.02rem;
  margin-bottom: 0.35rem;
}

/* line 37, ../sass/00-elements/typeography.scss */
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 42, ../sass/00-elements/typeography.scss */
ul li,
ol li {
  line-height: 1.5;
}

/* line 46, ../sass/00-elements/typeography.scss */
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 53, ../sass/00-elements/typeography.scss */
blockquote {
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
/* line 59, ../sass/00-elements/typeography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  margin-top: calc(.35 + .3vh);
  margin-bottom: .2rem;
  line-height: calc(1 + .25vw);
  text-shadow: 1px 1px 3px #3b5998, 1px 1px 2px #00b6f1;
}

/* line 71, ../sass/00-elements/typeography.scss */
h1 {
  font-size: 2.642rem;
  line-height: 2.15;
  margin-top: 2.85rem;
}

/* line 76, ../sass/00-elements/typeography.scss */
h2 {
  font-size: 2.328rem;
  line-height: 2.05;
}

/* line 80, ../sass/00-elements/typeography.scss */
h3 {
  font-size: calc(2.114rem + .1vw);
  line-height: 1.5;
}

/* line 84, ../sass/00-elements/typeography.scss */
h4 {
  font-size: calc(1.407rem + .5vw);
}

/* line 87, ../sass/00-elements/typeography.scss */
h5 {
  font-size: calc(1.013333333333333rem + .5vw);
}

/* line 90, ../sass/00-elements/typeography.scss */
h6 {
  font-size: calc(0.5535rem + .85vw);
}

/* Code blocks */
/* line 94, ../sass/00-elements/typeography.scss */
code {
  vertical-align: bottom;
  background-color: rgba(100, 100, 100, 0.3);
}

/* line 2, ../sass/00-elements/buttons.scss */
a.btn, a.rounded, a.circle {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-align: center;
  line-height: 1.8;
  display: inline-block;
}

/* line 16, ../sass/00-elements/buttons.scss */
a.btn, a.rounded, a.circle, button, .rounded, .circle {
  min-height: 2.5rem;
  height: 100%;
  min-width: 8.75rem;
  font-size: 1rem;
}
/* line 21, ../sass/00-elements/buttons.scss */
a.btn.information, a.information.rounded, a.information.circle, button.information, .information.rounded, .information.circle {
  border-top: 1px solid #04adff;
  border-right: 1px solid #003650;
  border-bottom: 1px solid #003650;
  border-left: 1px solid #04adff;
  background-color: #007bb6;
  color: #3b3b3b;
}
/* line 29, ../sass/00-elements/buttons.scss */
a.btn.success, a.success.rounded, a.success.circle, button.success, .success.rounded, .success.circle {
  border-top: 1px solid #02ffc2;
  border-right: 1px solid #004e3b;
  border-bottom: 1px solid #004e3b;
  border-left: 1px solid #02ffc2;
  background-color: #00b489;
  color: #3b3b3b;
}
/* line 37, ../sass/00-elements/buttons.scss */
a.btn.danger, a.danger.rounded, a.danger.circle, button.danger, .danger.rounded, .danger.circle {
  border-top: 1px solid #ff4d4d;
  border-right: 1px solid #990000;
  border-bottom: 1px solid #990000;
  border-left: 1px solid #ff4d4d;
  background-color: #ff0000;
  color: #3b3b3b;
}
/* line 45, ../sass/00-elements/buttons.scss */
a.btn.danger-outline, a.danger-outline.rounded, a.danger-outline.circle, button.danger-outline, .danger-outline.rounded, .danger-outline.circle {
  border-top: 1px solid maroon;
  border-right: 1px solid #ff0000;
  border-bottom: 1px solid #ff0000;
  border-left: 1px solid maroon;
  color: #ff0000;
  background-color: transparent;
}
/* line 53, ../sass/00-elements/buttons.scss */
a.btn.inactive, a.inactive.rounded, a.inactive.circle, button.inactive, .inactive.rounded, .inactive.circle {
  color: #a3b6a7;
  border-top: 1px solid #a3b6a7;
  border-right: 1px solid #dce3de;
  border-bottom: 1px solid #dce3de;
  border-left: 1px solid #a3b6a7;
  background-color: transparent;
}
/* line 61, ../sass/00-elements/buttons.scss */
a.btn.neutral, a.neutral.rounded, a.neutral.circle, button.neutral, .neutral.rounded, .neutral.circle {
  color: #4a5d4e;
  border-top: 1px solid #28322a;
  border-right: 1px solid #556b5a;
  border-bottom: 1px solid #556b5a;
  border-left: 1px solid #28322a;
  background-color: transparent;
}
/* line 69, ../sass/00-elements/buttons.scss */
a.btn.neutral, a.neutral.rounded, a.neutral.circle, button.neutral, .neutral.rounded, .neutral.circle {
  color: #4a5d4e;
  text-shadow: 1px 1px 1px #a3b6a7;
  border-top: 1px solid #28322a;
  border-right: 1px solid #556b5a;
  border-bottom: 1px solid #556b5a;
  border-left: 1px solid #28322a;
  background-color: rgba(74, 93, 78, 0.1);
}

/* line 79, ../sass/00-elements/buttons.scss */
.rounded {
  border-radius: .987rem;
}

/* line 84, ../sass/00-elements/buttons.scss */
.circle {
  border-radius: 50%;
  word-wrap: break-word;
  min-width: 0 !important;
  min-height: 0 !important;
}
/* line 91, ../sass/00-elements/buttons.scss */
.circle.cross-sprit {
  content: url("sprit.svg#cross");
}
/* line 94, ../sass/00-elements/buttons.scss */
.circle.check-sprit {
  content: url("sprit.svg#check");
}

/* line 3, ../sass/00-elements/filters.scss */
.filter-gray-50 {
  filter: grayscale(0.5);
}
/* line 6, ../sass/00-elements/filters.scss */
.filter-gray-100 {
  filter: grayscale(1);
}
/* line 11, ../sass/00-elements/filters.scss */
.filter-sepia-50 {
  filter: sepia(0.5);
}
/* line 14, ../sass/00-elements/filters.scss */
.filter-sepia-100 {
  filter: sepia(1);
}
/* line 19, ../sass/00-elements/filters.scss */
.filter-text-Text-Stroke {
  filter: url(filters.svg#Text-Stroke);
}
/* line 22, ../sass/00-elements/filters.scss */
.filter-text-Torn-Look {
  filter: url(filters.svg#Torn-Look);
}
/* line 25, ../sass/00-elements/filters.scss */
.filter-text-Color-Fill {
  filter: url(filters.svg#Color-Fill);
}
/* line 28, ../sass/00-elements/filters.scss */
.filter-text-Offsetting {
  filter: url(filters.svg#Offsetting);
}
/* line 31, ../sass/00-elements/filters.scss */
.filter-text-Extrusion {
  filter: url(filters.svg#Extrusion);
}

/*******


Compenates

*****/
/*******


templates


*****/
/*******


alternative sheets

*****/
/* Print Style */
@media print {
  /* line 3, ../sass/print.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 12, ../sass/print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 17, ../sass/print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 21, ../sass/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 25, ../sass/print.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 30, ../sass/print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 36, ../sass/print.scss */
  thead {
    display: table-header-group;
  }

  /* line 40, ../sass/print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 45, ../sass/print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 49, ../sass/print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 56, ../sass/print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 2, ../sass/03-display-theme/main.scss */
.side-scroll {
  overflow-x: scroll;
}

/* line 5, ../sass/03-display-theme/main.scss */
.base {
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100vw;
  height: 100%;
}

/* line 13, ../sass/03-display-theme/main.scss */
* {
  box-sizing: border-box;
}

/* line 16, ../sass/03-display-theme/main.scss */
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 0 7.5px;
}
/* line 24, ../sass/03-display-theme/main.scss */
section:nth-child(1) {
  background-color: #ff5700;
}
/* line 27, ../sass/03-display-theme/main.scss */
section:nth-child(2) {
  background-color: lightgrey;
}
/* line 30, ../sass/03-display-theme/main.scss */
section:nth-child(3) {
  background-color: #ffdc7d;
}
/* line 33, ../sass/03-display-theme/main.scss */
section:nth-child(4) {
  background-color: #c32aa3;
}

/* line 39, ../sass/03-display-theme/main.scss */
[aria-labelledby="typeography"] button, [aria-labelledby="typeography"] .rounded, [aria-labelledby="typeography"] .circle {
  border: none;
  border-radius: 0;
  font-size: 1rem;
  padding: .2rem;
  margin: .3rem;
}
@media screen and (min-width: 700px) {
  /* line 39, ../sass/03-display-theme/main.scss */
  [aria-labelledby="typeography"] button, [aria-labelledby="typeography"] .rounded, [aria-labelledby="typeography"] .circle {
    font-size: 1.2rem;
    padding: .25rem;
    margin: .25rem;
  }
}
@media screen and (min-width: 900px) {
  /* line 39, ../sass/03-display-theme/main.scss */
  [aria-labelledby="typeography"] button, [aria-labelledby="typeography"] .rounded, [aria-labelledby="typeography"] .circle {
    font-size: 1.75rem;
    padding: .25rem;
    margin: .3rem;
  }
}
/* line 56, ../sass/03-display-theme/main.scss */
[aria-labelledby="typeography"] .inverse {
  color: white;
  background-color: black;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  padding: .2rem;
  margin: .3rem;
}
@media screen and (min-width: 700px) {
  /* line 56, ../sass/03-display-theme/main.scss */
  [aria-labelledby="typeography"] .inverse {
    font-size: 1.2rem;
    padding: .25rem;
    margin: .25rem;
  }
}
@media screen and (min-width: 900px) {
  /* line 56, ../sass/03-display-theme/main.scss */
  [aria-labelledby="typeography"] .inverse {
    font-size: 1.75rem;
    padding: .25rem;
    margin: .3rem;
  }
}

/* line 78, ../sass/03-display-theme/main.scss */
[aria-labelledby="color pallet"] #colors {
  height: 50vh;
  width: 50vw;
  display: block;
}
/* line 83, ../sass/03-display-theme/main.scss */
[aria-labelledby="color pallet"] #color-pallet {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
/* line 90, ../sass/03-display-theme/main.scss */
[aria-labelledby="color pallet"] select#color-selector {
  width: 50vw;
  font-size: 1.2rem;
}

/* line 97, ../sass/03-display-theme/main.scss */
[aria-labelledby="Buttons"] * {
  border: red;
}
/* line 100, ../sass/03-display-theme/main.scss */
[aria-labelledby="Buttons"] main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
/* line 105, ../sass/03-display-theme/main.scss */
[aria-labelledby="Buttons"] main div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
/* line 111, ../sass/03-display-theme/main.scss */
[aria-labelledby="Buttons"] main nav {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
