.toggle-nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  button{
    border: none;
    border-radius: 0;
    font-size: 1.75rem;
    padding: .25rem;
    margin: .3rem;
  }
}
