button, [classß$="-button"]{
  border: none;
  border-radius: 0;
  font-size: 1rem;
  padding: .2rem;
  margin: .3rem;
  @media screen and (min-width: 700px){
    font-size: 1.2rem;
    padding: .25rem;
    margin: .25rem;
  }
  @media screen and (min-width: 900px){
    font-size: 1.75rem;
    padding: .25rem;
    margin: .3rem;
  }
}
@each $type in $colors {
  .#{nth($type, 1)} {
    background-color: #{nth($type, 2)};
    color: #{nth($type, 2)};
    &-button{
      @extend .#{nth($type, 1)};
      color: white;
      text-shadow: black .5px .5px;
    }
  }
}
@each $type in $colors {
  button.#{nth($type, 1)}{
    @extend .#{nth($type, 1)};
    color: white;
    text-shadow: black .5px .5px;
  }
}
button.inverse, [class$="-inverse"], .inverse{
  color: white;
  background-color: black;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  padding: .2rem;
  margin: .3rem;
  @media screen and (min-width: 700px){
    font-size: 1.2rem;
    padding: .25rem;
    margin: .25rem;
  }
  @media screen and (min-width: 900px){
    font-size: 1.75rem;
    padding: .25rem;
    margin: .3rem;
  }
}
