.filter{
  &-gray{
    &-50{
      filter: grayscale(.5);
    }
    &-100{
      filter: grayscale(1);
    }
  }
  &-sepia{
    &-50{
      filter: sepia(.5);
    }
    &-100{
      filter: sepia(1);
    }
  }
  &-text{
    &-Text-Stroke{
      filter: url(filters.svg#Text-Stroke);
    }
    &-Torn-Look{
      filter: url(filters.svg#Torn-Look);
    }
    &-Color-Fill{
      filter: url(filters.svg#Color-Fill);
    }
    &-Offsetting{
      filter: url(filters.svg#Offsetting);
    }
    &-Extrusion{
      filter: url(filters.svg#Extrusion);
    }
  }
}
