//rest
a.btn{
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  text-align: center;
  line-height: 2;
  display: inline-block;
}
//base
a.btn, button{
  min-height: 2.5rem;
  min-width: 8.75rem;
  font-size: 1rem;
  &.information{
    border-top: 1px solid lighten($blue, 15%);
    border-right: 1px solid darken($blue, 20%);
    border-bottom: 1px solid darken($blue, 20%);
    border-left: 1px solid lighten($blue, 15%);
    background-color: $blue;
    color: #2b2b2b;
    text-shadow: .5px 1px 1px darken($blue, 5%);
  }
  &.success{
    border-top: 1px solid lighten($green, 15%);
    border-right: 1px solid darken($green, 20%);
    border-bottom: 1px solid darken($green, 20%);
    border-left: 1px solid lighten($green, 15%);
    background-color: $green;
    color: #2b2b2b;
    text-shadow: .5px 1px 1px darken($green, 5%);
  }
  &.danger{
    border-top: 1px solid lighten($red, 15%);
    border-right: 1px solid darken($red, 20%);
    border-bottom: 1px solid darken($red, 20%);
    border-left: 1px solid lighten($red, 15%);
    background-color: $red;
    text-shadow: .5px 1px 1px darken($red, 5%);
    color: #2b2b2b;
  }
  &.danger-outline{
    text-shadow: .75px .75px 1px  darken($red, 15%);
    border-top: 1px solid darken($red, 25%);
    border-right: 1px solid $red;
    border-bottom: 1px solid $red;
    border-left: 1px solid darken($red, 25%);
    color: $red;
    background-color: transparentize($red, .9);
  }
  $inabg: lighten($grey, 35%);
  &.inactive{
    color: lighten($grey, 5%);
    text-shadow: .5px .5px 1px lighten($grey, 55%);
    border-top: 1px solid lighten($grey, 15%);
    border-right: 1px solid lighten($grey, 35%);
    border-bottom: 1px solid lighten($grey, 35%);
    border-left: 1px solid lighten($grey, 15%);
    background-color: transparentize($inabg, .8);
  }
  &.neutral{
    color: #2b2b2b;
    border-top: 1px solid darken($grey, 15%);
    border-right: 1px solid lighten($grey, 5%);
    border-bottom: 1px solid lighten($grey, 5%);
    border-left: 1px solid darken($grey, 15%);
    background-color: $grey;
    text-shadow: .5px 1px 1px lighten($grey, 5%);
  }
}
.rounded{
  @extend button ;
  @extend.btn ;
  border-radius: .987rem;
}
.circle{
  @extend button ;
  @extend.btn ;
  border-radius: 50%;
  word-wrap: break-word;
  min-width: 0 !important;
  min-height: 0 !important;
  height: 48px;
  width: 48px;
  &.cross-sprit{
    content: url('sprit.svg#cross');
  }
  &.check-sprit{
    content: url('sprit.svg#check');
  }
}
