/* base type */
html {
  /* Change default typefaces here */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: calc(.875 + 0.45vw);
  -webkit-font-smoothing: antialiased;
}
/* web fonts */
@each $name, $file in (leafy, fonts/leafy),(Brela, fonts/brelaregular),(BRUX, fonts/BFTinyHand-Regular), (Hamurz, fonts/Hamurz Free Version), (kust, fonts/kust), (tinny-hands, fonts/BFTinyHand-Regular){
  @font-face {
    font-family: #{$name};
    src: url('#{$file}.otf');
  }
  .#{$name}{
    font-family: #{$name} !important;
  }
}
/* Copy & Lists */
p {
  line-height: calc(1.5rem + 0.45vw);
  margin-top: 1.02rem;
  margin-bottom: 0.35rem;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  margin-top: calc(.35 + .3vh);
  margin-bottom: .2rem;
  line-height: calc(1 + .25vw);
  text-shadow: 1px 1px 3px darkgrey, 1px 1px 2px lightgrey;
}
h1 {
  font-size: 2.642rem;
  line-height: 2.15;
  margin-top: 2.85rem;
}
h2 {
  font-size: 2.328rem;
  line-height: 2.05;
}
h3 {
  font-size: calc(2.114rem + .1vw);
  line-height: 1.5;
}
h4 {
  font-size: calc(1.407rem + .5vw);
}
h5 {
  font-size: calc(1.013333333333333rem + .5vw);
}
h6 {
  font-size: calc(0.5535rem + .85vw);
}
/* Tables */
table{
	border-spacing: 0;
	width: 100%;
}
td,
th{
	border-bottom: .1rem solid darkgrey;
	padding: 1.2rem 1.5rem;
	text-align: center;

	&:first-child{
		padding-left: 0;
  }
	&:last-child{
    padding-right: 0;
  }
}

/* Code blocks */
code {
  vertical-align: bottom;
  background-color: rgba(100, 100, 100, .3);
}
